<mat-card *ngFor="let data of mobileClipboardDataArr" style="margin: 2% 0%; display: flex; ">
    <div style="display: flex; justify-content: space-between; width: 100%;">
        <div class="text-class" (click)="openDialog(data)">
            {{data.displayMessage}}&nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <b>
                ({{data.displayDate}})
            </b>
        </div> 
        <div class="example-button-container">
            <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon" (click)="deleteClip(data)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>   
</mat-card>
